*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(241, 241, 241);
    box-sizing: border-box;
}









header{
    width: 100%;
    
    text-align: center;
    align-items: center;
    border: solid rgba(122, 72, 30, 0.884) 2px;
    border-radius: 10px;

    
}
#sidebar{
    width: 200px;
    height: 100px;
    position: fixed;
    transform: translateX(-210px);
    transition: all 0.5s ease;
    
    border-radius: 10px;
    
    background-color: rgb(255, 255, 255);

}

#sidebar.active{
    
    transform: translateX(0px);
    transition: all 0.5s ease;
    z-index: 1;
    
   
}



.botonmenu{
  position: absolute;
  left: 220px;
  border: solid black 2px;
  background-color: rgb(146, 144, 144);
  color: rgba(122, 72, 30, 0.884) ;
  cursor: pointer;
  padding: 2px 5px 2px 5px;
  border-radius: 5px;
  z-index: 1;
}

.botonmenu:hover{
    background-color:rgba(122, 72, 30, 0.884) ;
    color:rgb(146, 144, 144) ;
    transition: ease 0.5s;
    z-index: 1;
}



#menu li a{
   
    margin-left: -60px;
    padding: 30px 0px;
    
    
}

#menu img{
    margin-left: -20px;
}

html{
    scroll-behavior: smooth;
}

.contenedor{
    width: 100%;
}

.animado{
    opacity: 0;
    transition: all 0.5s ease;
}

#menu{
    
    border: solid 2px black;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: auto;
    padding: 10px 20px;
    
    align-items: center;
    text-align: center;
}
#menu ol li{
    
    display: inline;
    padding: 80px 20px;
    margin-bottom: 50px;
    
}

#menu ol li a{
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    display: block;
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: 30px;
    text-align: center;
    transition: 0.5s ease;
    padding: 0px 0px 0px 0px;
    
}

#menu ol li a:hover{
    color: rgba(122, 72, 30, 0.884);
    text-decoration: underline;
    transition: 0.5s ease;
}

#menu img{
    margin-left: 35px;
    width: 100px;
    height: 100px;
    text-align: center;
    align-items: center;
    display: block;
    margin: auto;
    border-radius: 10px;
}

#menu li{
    margin-left: 50px;
    margin-top: 50px;
}

/*CONTENIDO*/

#inicio{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 241, 241);
}


.bannerarriba{
    font-family: 'Roboto Mono', monospace;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    margin: auto;
    background-image: url(imagenes/madera.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 200px;
    color: rgb(255, 255, 255);
    border: black solid 2px;
}

.bannerarriba img{
    width: 1000px;
    height: 500px;
    margin-top: 20px;
    
}

.bannerarriba h1{
    font-family: 'Roboto Slab', serif;
    margin-bottom: 50px;
    font-size: 60px;
    color: rgb(68, 68, 68);
    letter-spacing: 10px;
    text-shadow: 5px 5px 5px black;
}

.bannerarriba h3{
    letter-spacing: 3px;
    display: flex;
    width: 800px;
    margin: auto;
    padding: 5px 5px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.281);
    color: black;
    text-align: center;
    justify-content: center;
    margin-top: 20px;

}

#saludo{
    
    width: 100%;
    height: 50%;
    
}

.saludo{
    
    display: inline-block;
    margin-top: 20%;
    margin-left: 90px;
    width: 500px;
    text-align: justify;
}

.saludo h1{
    font-family: 'Roboto Slab', serif;
    text-align: justify;
    margin-bottom: 20px;
    text-shadow: 3px 3px 3px rgb(71, 71, 71);
}

.slider{
    
    border: solid black 2px;
    position: relative;
    left: 240px;
    bottom: 350px;
    width: 40%;
    
    margin: auto;
    overflow: hidden;
}

.slider ul{
    
    position: relative;
    left: 600px;
    display: flex;
    width: 400%;
    height: 400%;
    animation: cambiarimagen 5s infinite linear alternate;
}

.slider li{
    border-left: solid black 2px;
    border-right: solid black 2px;
    width: 500px;
    height: 300px;
    list-style: none;
}

.slider img{
    width: 120%;
    height: 120%;
}

@keyframes cambiarimagen{
    0%{margin-left: 10%;}
    33%{margin-left: 10%;}

    33%{margin-left: -200%;}
    66%{margin-left: -200%;}

    66%{margin-left: -300%;}
    100%{margin-left: -300%;} 
}

hr{ 
    margin-left: 150px;
    margin-top: 10px;
    width: 95%;
    height: 5px;
    color: black;
}

#productos{
    
    width: 100%;
    justify-content: center;
    align-items: center;
   
    margin-bottom: 50px;
}






.productos h1{
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
    padding-top: 20px;
    text-shadow: 3px 3px 3px rgb(78, 78, 78);
}

.galeria ul{
    margin-left: 80px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 30px;
    list-style: none;
}

.galeria li{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 10px;
    text-align: center;
    margin: auto;
    
}

.galeria img{
   width: 300px;
   height: 200px;
   opacity: 0.7;
   margin: auto;
   transition: 0.5s ease;
   position:inherit ;
   
   
}

.galeria img:hover{
    
    opacity: 1;
    transition: 0.5s ease;
    transform: scale(1.5);
    border: solid black 2px;
    z-index: 1;


}

.producto h3{
    font-family: 'Roboto Mono', monospace;
    margin-top: 10px;
    margin: auto;
}

.producto p{
    text-align: justify;
    justify-content: center;
    width: 250px;   
    
}

.signo{
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    color:rgba(163, 84, 19, 0.884);
    transition: 1s ease;
    text-align: center;
    margin: auto;
    width: 200px;
    animation: color 3s infinite linear;
}

@keyframes color{
    0%{color: black;}
    5%{color: rgb(43, 43, 43);}
    15%{color: rgb(73, 73, 73);}
    25%{color: rgb(92, 91, 91);}
    35%{color: rgb(148, 148, 148);}
    45%{color: rgb(216, 216, 216);}
    55%{color: rgb(255, 255, 255);}
    65%{color: rgb(216, 216, 216);}
    75%{color: rgb(148, 148, 148);}
    85%{color: rgb(92, 92, 92);}
    95%{color: rgb(73, 73, 73);}
    100%{color: rgb(43, 43, 43);}
    
}

.aclaracion{
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    margin-top: 30px;
    padding: 30px;
    color:rgba(122, 72, 30, 0.884);
    transition: 1s ease;
    text-align: center;
    margin: auto;
    width: 600px;
}

.footer{
   
    background-color: rgba(95, 95, 95, 0.705);
}

.contenedorfooter{
    
    margin-left: 5%;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 100px;
}

.contacto{
    margin-top: 50px;
    display: block;
}

.contacto h3{
    font-family: 'Roboto Mono', monospace;
    color: rgb(48, 48, 48);
    text-align: justify;
    margin-bottom: 20px;
}


.contacto p{
    font-family: 'Roboto Slab', serif;
    color: rgb(214, 214, 214);
    padding: 8px 0px;
}

.contacto a{
    color: rgb(214, 214, 214);
    transition: 0.5s ease;
    text-decoration: none;
}

.contacto a:hover{
    color: rgba(122, 72, 30, 0.884);
    transition: 0.5s ease;
}

.mapa-web{
    display: block;
    margin-top: 50px;
}

.mapa-web h3{
    font-family: 'Roboto Mono', monospace;
    color: rgb(48, 48, 48);
    text-align: center;
    margin-bottom: 20px;
}

.mapa-web li{
    list-style: none;
    padding: 8px 0px;
    border-bottom: solid 2px rgb(214, 214, 214) ;
    text-align: center;
}

.mapa-web li a{
    font-family: 'Roboto Slab', serif;
    color: rgb(214, 214, 214);
    text-decoration: none;
    transition: 0.5s ease;
}

.mapa-web li a:hover{
    color: rgb(160, 160, 160);
    transition: 0.5s ease;
}

.mapa-web p{
    font-family: 'Roboto Slab', serif;
    color: rgba(122, 72, 30, 0.884);
    
}

.redes{
    margin-top: 50px;
    display: block;
}

.redes h3{
    font-family: 'Roboto Mono', monospace;
    color: rgb(48, 48, 48);
    text-align: center;
    margin-bottom: 20px;
}

.redes a{
    display: block;
    font-family: 'Roboto Slab', serif;
    color: rgb(214, 214, 214);
    text-decoration: none;
    text-align: center;
    font-size: 40px;
    transition: 0.5s ease;
    padding: 5px 0px;
}

.redes a:hover{
    color: rgb(160, 160, 160);
    transition: 0.5s ease;
}

.redes p{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: rgb(214, 214, 214);
    padding: 8px 0px;
    text-align: center;
}

#fb{
    color: rgb(214, 214, 214);
    transition: 0.5s ease;
}

#fb:hover{
    color: rgb(6, 6, 158);
    transition: 0.5s ease;
}

#ig{
    color: rgb(214, 214, 214);
    transition: 0.5s ease;
}

#ig:hover{
    color: rgba(166, 15, 172, 0.801);
    transition: 0.5s ease;
}

#wsp{
    display: block;
    font-size: 40px;
    padding-bottom: 5px;
    color: rgb(214, 214, 214);
    transition: 0.5s ease;
}

#wsp:hover{
    color: rgb(0, 226, 0);
    transition: 0.5s ease;
}

.appwhatsapp{
    font-size: 20px;
    
}
.appwhatsapp:hover{
    color: rgb(0, 226, 0);
    transition: 0.5s ease;
}



@media(max-width: 575px) {
    header{
        
        width: 100%;
        background-color: rgb(255, 255, 255);
         
        text-align: center;
        align-items: center;
        
    }

    #menu{
        
        display: block;
        background-color: rgb(255, 255, 255);
        margin: auto;
        padding: 10px 20px;
        
        align-items: center;
        text-align: left;
    }

    

}